<!doctype html>
<html class="no-js" manifest="site.appcache">
  <head>
    <meta charset="utf-8">

    <!-- iOS app -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <title>How dare you !</title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div id="angry-pane" class="pane">

      <%= image_tag "Angry.png", :alt => "Photo of angry face", :id => "angry-face" %>

      <button id="info-button" class="info">i</button>
    </div>

    <div id="info-pane" class="pane visuallyhidden">
      <p>HowDareYou is a simple app that demonstrates the capabilities of the <a href="http://www.middlemanapp.com">middleman framework</a>. It was also a good opportunity for me to play with some HTML5 code.</p>

      <p>The code is available on my <a href="http://github.com/zimbatm/howdareyouapp">zimbatm github account</a>.</p>

      <button class="close">close</button>
    </div>

    <audio id="how-dare-you" preload autoplay>
      <source src="/sound/how-dare-you.mp4">
      <source src="/sound/how-dare-you.mp3">
      <source src="/sound/how-dare-you.ogg">
      <source src="/sound/how-dare-you.wav">
    </audio>
  </body>
</html>
